body {
    background: #171A1E;
}
.item {
    padding-top: 10px;
    padding-bottom: 10px;
    color: #ABB2BF;
    width: 100%;
    position: relative;
    border-bottom: 1px solid #ABB2BF;
}
.timestamp {
    font-size: 9px;
    user-select: none;
}
.text {
    padding-left: 10px;
}