body {
    background: #171A1E;
}
.item {
    border-color: #ABB2BF;
    border-style: solid;
    border-width: 1px;
    border-bottom-left-radius: 50px;
    border-top-right-radius: 50px;
    background-color: #282C34;
    padding: 10px; 
    color: #ABB2BF;
}
.timestamp {
    font-size: 9px;
}
.text {
    padding-left: 10px;
}